.details-address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding-left: 35px;

  width: 260px;

  &__description {
    position: relative;

    margin-top: 0;
    margin-bottom: 40px;

    font: {
      size: 0.75em;
      family: $regular-font;
    }

    color: $text-footer;
    line-height: normal;

    &::before {
      position: absolute;
      content: '';

      width: 18px;
      height: 24px;

      background-image: url('../img/map-pin.png');
      background-repeat: no-repeat;
      background-size: 18px 24px;

      top: 50%;
      left: -35px;

      transform: translateY(-50%);
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }

  &__sitemap {
    font: {
      size: 0.75em;
      family: $regular-font;
    }

    color: $text-footer;
    line-height: normal;

    text-decoration: underline;
  }
}
