.faq-list {
  display: none;
}

@media only screen and (min-width: $laptop-wide) {
  .faq-list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 555px;

    margin-bottom: 120px;

    &__item {
      width: 520px;
      margin-bottom: 30px;
      cursor: pointer;

      &:hover {
        width: 520px;

        .faq-list__text {
          font-family: $pt-bold;
        }
      }
    }

    &__item--active {
      position: relative;
      width: 520px;

      &::before {
        position: absolute;
        content:'';

        width: 315px;
        height: 97px;

        background-image: url('../img/tab-arrow.png');
        background-size: 315px 97px;
        background-repeat: no-repeat;

        top: -30px;
        right: 35px;
      }

      &:nth-of-type(2) {
        &::before {
          top: -20px;
        }
      }
      
      &:nth-of-type(3),
      &:nth-of-type(4) {
        &::before {
          top: -30px;
        }
      }

      .faq-list__text {
        font-family: $pt-bold;
      }
    }

    &__text {
      font: {
        size: 1.5em;
        family: $pt-light;
      }

      color: $text-lightblack;
      line-height: 1.2;

      margin: 0;
    }
  }
}
