.filter-nav {
  width: 100%;

  padding: 0;
  margin: 0;
  list-style: none;

  overflow-y: scroll;

  max-height: 300px;
  margin-bottom: 10px;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &__item {
    margin-bottom: 12px;
    width: 100%;
  }

  &__btn {
    font: {
      size: 1em;
      family: $pt-regular;
      weight: 400;
    }

    color: #000000;
    text-transform: uppercase;
    opacity: 0.7;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &__checkbox + label {
    @include checkbox-default;
  }

  &__checkbox + label::before {
    @include custom-checkbox;
  }

  &__checkbox:checked + label::after {
    @include checkbox-checked;
    transition: 0.2s ease-in;
  }

  &__checkbox:checked + label {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .filter-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    max-height: 300px;
    margin-bottom: 30px;

    &__item {
      margin-bottom: 15px;
      width: 50%;
    }

    &__btn {
      font: {
        size: 1.125em;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .filter-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    max-height: 120px;
    margin-bottom: 30px;

    width: 100%;

    background-color: transparent;

    &__item {
      margin-bottom: 5px;
      width: 20%;

      &--large {
        height: 120px;

        position: relative;

        &::after {
          position: absolute;
          content: '';

          width: 40px;
          height: 9px;

          background-color: #FF770D;

          top: 55px;
          left: 0;
        }
      }
    }

    &__btn {
      font: {
        size: 1.125em;
      }

      text-transform: none;
    }

    &__checkbox:checked + label,
    &__checkbox:hover + label:hover {
      opacity: 1;
      font-weight: 600;
    }
  }
}
