html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: $bg-body;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  min-height: 100vh;
  overflow-x: hidden;

  position: relative;

  color: $text-black;
  font-family: $regular-font;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @media only screen and (min-width: $laptop-wide) {
    background-color: $bg-body;
    background-image: url('../img/upper-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.body-main {
  background-color: $bg-body;
  background-image: url('../img/bg-main.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @media only screen and (min-width: $laptop-wide) {
    background-size: 2000px 837px;
  }
}

img {
  max-width: 100%;
  height: auto;
}
