.header {
  @include container;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px;

  background-color: #cdcdcd;

  &__logo {
    min-width: 100px;
    height: 100%;

    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    z-index: 3;
  }

  &__opener {
    display: block;

    width: 21px;
    height: 16px;

    background-image: url('../img/bugrer.png');
    background-repeat: no-repeat;
    background-size: 21px 16px;

    background-color: transparent;
    border: none;

    z-index: 3;
  }

  &__link {
    width: 100%;
    height: 100%;

    text-decoration: none;

    display: block;
  }

  &__pic {
    width: 100px;
    height: 41px;
  }

  &__title {
    display: none;
  }
}

@media only screen and (min-width: $mobile) {
  .header {
    padding-top: 25px;
  }
}

@media only screen and (min-width: $laptop-wide) {
  .header {
    align-items: flex-end;
    background-color: transparent;
    padding-top: 0;

    &__logo {
      min-width: 160px;

      margin-right: 16px;
    }

    &__opener {
      display: none;
    }

    &__link {
      margin-bottom: 40px;
    }

    &__pic {
      width: 160px;
      height: 67px;
    }

    &__title {
      display: inline-flex;

      font: {
        size: 1.125em;
        family: $pt-light;
      }

      color: $text-lightblack;
      line-height: 1;
      text-transform: uppercase;
    }
  }
}
