.header-menu {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media only screen and (min-width: $laptop-wide) {
  .header-menu {
    position: relative;
    top: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
  }
}
