.info {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__title {
    margin-top: 40px;
    margin-bottom: 30px;

    font: {
      size: 2em;
      family: $pt-light;
      weight: 300;
    }

    color: $text-lightblack;
    line-height: 1;
  }

  &__subtitle {
    display: none;
  }
}

@media only screen and (min-width: $laptop-wide) {
  .info {
    @include container;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__title {
      margin-top: 40px;
      margin-bottom: 10px;

      font: {
        size: 2.75em;
        family: $thin-font;
      }

      color: $text-lightblack;
      line-height: 1;
    }

    &__subtitle {
      display: inline-flex;

      font: {
        size: 1em;
        family: $black-font;
      }

      color: $text-lightblack;
      line-height: 1;
    }
  }
}
