.info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;

  padding-top: 55px;
  padding-bottom: 220px;

  position: relative;

  /*Стилизация для блока изображения*/
  &__background {
    position: absolute;

    top: 88px;
    left: -18px;

    width: 1150px;
    height: 640px;

    max-width: 1150px;
    max-height: 640px;

    z-index: -1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__frame {
    max-width: 943px;
    max-height: 638px;
  }

  /*
  &::before {
    position: absolute;
    content: '';

    background-image: url('../img/info-book.svg');
    background-size: 1150px 640px;
    background-repeat: no-repeat;

    width: 1150px;
    height: 640px;

    top: 88px;
    left: -18px;

    z-index: -1;
  }*/
}
