.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding-top: 0;
}


@media only screen and (min-width: $laptop-wide) {
  .main {
    padding-top: 55px;
  }
}
