.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &--portfolio {
    padding-bottom: 70px;
  }
}


@media only screen and (min-width: $laptop-wide) {
  .main {
    padding-top: 120px;
  }
}
