.map {
  display: none;
}

@media only screen and (min-width: $laptop-wide) {
  .map {
    display: block;
    width: 100%;

    position: relative;

    &__recall {
      position: absolute;

      top: 50%;
      left: 25%;

      transform: translate(-25%,-50%);
    }
  }
}
