.menu-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #fff;

  margin: 0;
  padding: 0;

  list-style: none;

  height: 100%;

  padding-right: 40px;
  padding-left: 40px;

  &__link {
    display: block;

    font: {
      size: 0.75em;
      family: $bold-font;
    }

    color: $text-lightgray;
    line-height: 1;

    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px dashed $text-mail;

    cursor: pointer;
  }
}
