@mixin container {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @media only screen and (min-width: $mobile) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media only screen and (min-width: $tablet) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media only screen and (min-width: $laptop-wide) {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0;
  }
}

@mixin checkbox-default {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  position: relative;
  padding-left: 30px;

  @media only screen and (min-width: 1024px) {
    padding-left: 0;
  }
}

@mixin custom-checkbox {
  position: absolute;
  content: "";
  display: block;

  width: 16px;
  height: 16px;

  top: 50%;
  transform: translateY(-50%);
  left: 0;

  background-color: transparent;
  border: 1px solid #000000;

  @media only screen and (min-width: 1024px) {
    display: none;
  }
}

@mixin checkbox-checked {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #000000;
  border: 1px solid #000000;

  @media only screen and (min-width: 1024px) {
    display: none;
  }
}

@mixin soft-animation {
  transition-property: initial;
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;
}

@mixin animation {
  @keyframes height-out {
    0% { max-height: 1280px; }
    10% { max-height: 1000px; }
    20% { max-height: 800px; }
    40% { max-height: 600px; }
    60% { max-height: 400px; }
    80% { max-height: 100px; }
    90% { max-height: 0px; }
    100% { max-height: 88px; }
  }
}
