@mixin container {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @media only screen and (min-width: $mobile) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media only screen and (min-width: $tablet) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media only screen and (min-width: $laptop-wide) {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0;
  }
}

@mixin checkbox-default {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  position: relative;
  padding-left: 20px;
}

@mixin custom-checkbox {
  position: absolute;
  content: "";
  display: block;

  width: 12px;
  height: 12px;

  bottom: 0;
  left: 0;

  background-color: #99999e;
  border: 1px solid #919197;
  border-radius: 2px;
}

@mixin checkbox-checked {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 8px;
  height: 6px;

  background-image: url('../img/tick.png');
  background-size: 8px 6px;
  background-repeat: no-repeat;
}

@mixin soft-animation {
  transition-property: initial;
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;
}

@mixin animation {
  @keyframes height-out {
    0% { max-height: 1280px; }
    10% { max-height: 1000px; }
    20% { max-height: 800px; }
    40% { max-height: 600px; }
    60% { max-height: 400px; }
    80% { max-height: 100px; }
    90% { max-height: 0px; }
    100% { max-height: 88px; }
  }
}
