.pattern {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &--main {
    background-color: $bg-body;
  }
}

@media only screen and (min-width: $laptop-wide) {
  .pattern {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;

    &--main {
      background-color: transparent;
    }
  }
}
