.pattern-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: $pattern-info-bg;
  min-width: 320px;
  width: 100vw;
  min-height: 300px;
  padding-bottom: 20px;
  padding-top: 20px;

  margin-bottom: 65px;

  &__list {
    opacity: 0;
    position: absolute;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0;
    padding: 0;
    list-style: none;

    &--active {
      transition: .3s ease-in;
      z-index: 2;
      opacity: 1;
    }
  }

  &__item {
    position: relative;

    width: 100%;

    margin-bottom: 20px;
    padding-left: 43px;

    &::before {
      position: absolute;
      content: '';

      width: 24px;
      height: 32px;

      background-image: url('../img/paper-icon-mb.png');
      background-repeat: no-repeat;
      background-size: 24px 32px;

      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__link {
    width: 100%;
    height: 100%;

    text-decoration: none;
  }

  &__text {
    margin: 0;

    font: {
      size: 0.875em;
      family: $pt-light;
    }

    color: $text-white;
    text-decoration: underline;

    &--bold {
      font-family: $pt-bold;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .pattern-links {
    min-width: 335px;
    min-height: 355px;
    padding-bottom: 69px;
    padding-top: 42px;

    &__list {
      width: 335px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .pattern-links {
    justify-content: center;
    align-items: flex-start;

    width: 575px;
    min-height: 590px;

    padding-left: 118px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;

    background-color: transparent;

    &__list {
      width: 575px;
    }

    &__item {
      width: 400px;

      margin-bottom: 20px;
      padding-left: 37px;

      &::before {
        width: 16px;
        height: 19px;

        background-image: url('../img/paper-icon.png');
        background-size: 16px 19px;
      }
    }

    &__text {
      font: {
        size: 1.125em;
      }

      color: $text-lightblack;
      letter-spacing: 0px;

      text-decoration: none;

      &--bold {
        font-family: $pt-light;
      }
    }
  }
}
