.pattern-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin: 0;
  padding: 0;
  list-style: none;

  width: 505px;
  margin-left: 51px;

  &__item {
    position: relative;

    width: 100%;

    padding-left: 42px;
    padding-top: 26px;
    padding-bottom: 27px;

    &--active {
      text-decoration: none;

      background-color: $pattern-list-bg;

      &::after {
        position: absolute;
        content: '';

        width: 0;
        height: 0;

        border-top: 34.5px solid transparent;
        border-left: 13px solid #ea5b0a;
        border-bottom: 34.5px solid transparent;

        right: -13px;
        top: 0;
      }

      .pattern-list__text {
        text-decoration: none;
        border: none;
        padding-bottom: 0;
      }
    }
  }

  &__text {
    position: relative;
    padding-bottom: 4px;

    font: {
      size: 1em;
      family: $medium-font;
    }

    color: $text-white;
    line-height: 1.2;

    text-transform: uppercase;
    border-bottom: 1px dashed #ffffff;
  }
}
