.recent {
  width: 320px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;

    margin-bottom: 28px;
  }

  &__title {
    margin: 0;
    margin-left: 10px;

    font: {
      size: 1.5em;
      family: $pt-bold;
    }

    color: $text-black;
    line-height: normal;
    text-align: left;
  }

  &__btn {
    display: none;
  }
}

@media only screen and (min-width: $mobile) {
  .recent {
    width: 335px;

    &__title {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .recent {
    @include container;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      margin-bottom: 90px;
    }

    &__title {
      margin: 0;

      font: {
        size: 2.75em;
        family: $black-font;
      }

      color: $text-lightblack;
      line-height: 1;
      letter-spacing: -1px;
    }

    &__btn {
      display: block;
      width: 198px;

      padding-top: 14px;
      padding-bottom: 14px;

      background-color: transparent;
      border: 1px solid #dddddd;
      border-radius: 5px;

      text-align: center;

      font: {
        size: 0.75em;
        family: $bold-font;
      }

      color: $text-mediumgray;
      line-height: 1.2;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
