.service {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__title {
    margin-top: 0;
    margin-bottom: 25px;
    align-self: flex-start;
    margin-left: 10px;

    font: {
      size: 1.5em;
      family: $pt-bold;
      weight: 700;
    }

    color: $text-black;
    line-height: 1;

  }

  /*Страница MAIN*/

  &--main {
    background-color: #fff;
  }
}

@media only screen and (min-width: $mobile) {
  .service {
    &__title {
      margin-left: 20px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .service {
    align-items: flex-start;

    &--index {
      @include container;
    }

    &--main {
      background-color: transparent;
      padding-bottom: 106px;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 60px;
      margin-left: 0;

      font: {
        size: 2.75em;
      }

      color: $text-lightblack;
    }
  }
}
