.service-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  margin-bottom: 80px;
  width: 100%;

  &__item {
    width: 50%;

    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--0 {
      border-top: 2px solid #8ea2d5;
    }

    &--1 {
      border-top: 2px solid #00ad87;
    }

    &--2 {
      border-top: 2px solid #FF770D;
    }

    &--3 {
      border-top: 2px solid #FE624C;
    }

    &--4 {
      border-top: 2px solid #4787d6;
    }

    &--5 {
      border-top: 2px solid #ff624d;
    }

    &--6 {
      border-top: 2px solid #E175A7;
    }

    &--7 {
      border-top: 2px solid #4A87D7;
    }

    &--8 {
      border-top: 2px solid #1E986F;
    }
  }

  &__link {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: relative;

    font: {
      size: 0.813em;
      family: $pt-medium;
      weight: 500;
    }

    color: $text-lightblack;
    line-height: 1.25em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    &:hover {
      color: #ef820d;
    }
  }
  /*Стилизация и порядок элементов для страницы main*/
  &--main {
    margin-bottom: 0;

    .service-list__item {
      &--0 {
        order: 5;
        border-top: 2px solid #4787d6;
      }

      &--1 {
        order: 6;
        border-top: 2px solid #02AE88;
      }

      &--2 {
        order: 1;
        border-top: 2px solid #8ea2d5;
      }

      &--3 {
        order: 2;
        border-top: 2px solid #00ad87;
      }

      &--4 {
        order: 8;
        border-top: 2px solid #4A87D7;
      }

      &--5 {
        order: 4;
        border-top: 2px solid #FE624C;
      }

      &--6 {
        order: 7;

        border-top: 2px solid #E175A7;
      }

      &--7 {
        order: 3;
        border-top: 2px solid #FF770D;
      }

      &--8 {
        order: 9;
        border-top: 2px solid #1E986F;

        position: relative;

        &::after {
          position: absolute;
          content: '';

          top: -2px;
          right: -100%;

          width: 100%;
          height: 2px;
          background-color: #FE624C;
        }
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .service-list {
    margin-bottom: 110px;

    &--main {
      @include container;
      margin-bottom: 0;
      background-color: $bg-body;
    }

    &__item {
      width: 360px;
      padding-left: 45px;
      padding-top: 56px;
      padding-bottom: 56px;

      &--0 {
        border-top: 2px solid #8ea2d5;
      }

      &--1 {
        border-top: 2px solid #00ad87;
      }

      &--2 {
        border-top: 2px solid #00b5d7;
      }

      &--3 {
        border-top: 2px solid #85aa14;
      }

      &--4 {
        border-top: 2px solid #4787d6;
      }

      &--5 {
        border-top: 2px solid #ff624d;
      }

      &:nth-of-type(3n+1) {
        margin-right: 29px;
      }

      &:nth-of-type(3n+2) {
        margin-right: 38px;
      }

      &:nth-of-type(3n+3) {
        margin-right: 0;
      }
    }

    &__link {
      flex-direction: row;
      justify-content: flex-start;

      padding-top: 0;
    }

    &__frame {
      margin-right: 60px;
    }

    &--main {
      margin-bottom: 0;

      .service-list__item {
        padding-top: 41px;
        padding-bottom: 41px;

        &--0 {
          order: 5;
          border-top: 2px solid #4787d6;
          margin-right: 35px;
        }

        &--1 {
          order: 6;
          border-top: 2px solid #02AE88;
          margin: 0;
        }

        &--2 {
          order: 2;
          border-top: 2px solid #8ea2d5;
          margin-right: 35px;
        }

        &--3 {
          order: 3;
          border-top: 2px solid #00ad87;
          margin: 0;
        }

        &--4 {
          order: 8;
          border-top: 2px solid #4A87D7;
          margin-right: 35px;
        }

        &--5 {
          order: 4;
          border-top: 2px solid #FE624C;

          margin-right: 35px;
        }

        &--6 {
          order: 7;
          border-top: 2px solid #E175A7;
          margin-right: 35px;
        }

        &--7 {
          order: 1;
          border-top: 2px solid #FF770D;

          margin-right: 35px;
        }

        &--8 {
          order: 9;
          border-top: 2px solid #1E986F;
          margin: 0;

          &::after {
            display: none;
          }
        }
      }
    }
  }
}
