.details-list {
  width: 100%;

  margin: 0;
  padding: 0;

  list-style: none;

  margin-top: -3rem;
  padding-bottom: 7rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__item {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__frame {
    max-width: 100%;
    height: auto;
  }

  &__pic {
    width: 100%;
    object-fit: contain;
  }

  &__description {
    font: {
      size: 1rem;
      family: $pt-bold;
      weight: 700;
    }

    line-height: 1.25rem;
    color: $text-white;

    max-width: 340px;
    text-align: left;

    &.text-black {
      color: #000;
    }
  }

  /*ПЕРВЫЙ ТИП КАРТОЧКИ!!!*/
  &--1 {
    display: none;
    margin-top: -2rem;
    padding-bottom: 0;

    padding-left: 0.625rem;
    padding-right: 0.625rem;

    .details-list__item {
      &.vertical {
        max-width: 375px;
        .details-list__frame {
          margin-bottom: 3rem;
        }
        /*Изображение по центру*/
        &--center {
          margin-bottom: 3rem;

          .details-list__frame {
            margin-bottom: 3rem;
            align-self: center;
            margin-left: 0;
          }
        }

        &--middle {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          position: relative;

          padding-bottom: 3rem;
          padding-top: 3rem;

          margin-bottom: 0;

          &::before {
            position: absolute;
            content: '';
            width: 200vw;
            height: 100%;

            background-color: #bfcace;

            top: 0;
            left: -75%;
            right: 0;
            bottom: 0;

            z-index: 0;
          }

          .details-list__frame {
            z-index: 2;
            width: 100%;
            min-width: 440px;
            margin-bottom: 3rem;

            &--first {
              order: 1;
              margin-right: -10rem;
            }

            &--second {
              order: 2;
              margin-left: -10rem;
            }
          }

          .details-list__pic {
            width: 100%;
            object-fit: contain;
          }

          .details-list__info {
            order: 3;

            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;

            width: 100%;
          }

          .details-list__description {
            max-width: 470px;
            color: #000000;
          }
        }
      }

      &.horizontal {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &--2 {
          .details-list__frame {
            width: 100%;
            margin-bottom: 3rem;
          }

          .details-list__description {
            width: 260px;
          }
        }

        &--2-inv {
          flex-direction: column-reverse;
          justify-content: flex-start;
          align-items: flex-start;
          margin-bottom: 3rem;

          .details-list__frame {
            width: 100%;

            margin-bottom: 3rem;
          }

          .details-list__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            height: 100%;
          }

          .details-list__description {
            display: none;
          }
        }
      }
    }
  }
  /*ВТОРОЙ ТИП КАРТОЧКИ!!!*/
  &--2 {
    display: none;

    margin-top: -2rem;
    padding-bottom: 0;

    .details-list__item {
      &.vertical {
        .details-list__frame {
          margin-bottom: 3rem;
        }
        /*Изображение по центру*/
        &--center {
          padding-left: 0.625rem;
          padding-right: 0.625rem;
          margin-bottom: 3rem;

          .details-list__frame {
            margin-bottom: 3rem;
            align-self: center;
          }

          .details-list__credits {
            margin-top: 0;
          }
        }
        /*ОБратный вертикальный порядок*/
        &--reverse {
          flex-direction: column;
          margin-bottom: 3rem;
          padding-left: 0.625rem;
          padding-right: 0.625rem;

          .details-list__description {
            margin-bottom: 3rem;
          }

          .details-list__frame {
            align-self: center;
            margin-bottom: 0;
          }
        }

        &--triple {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          position: relative;
          margin-bottom: 0;

          padding-top: 2.25rem;
          padding-bottom: 2.25rem;

          padding-left: 0.625rem;
          padding-right: 0.625rem;

          &::before {
            position: absolute;
            content: '';
            width: 200vw;
            height: 100%;

            background: linear-gradient(45deg, #b6b3b9 0%,#c9c7cc 28%,#dbd9de 44%,#dbd9de 44%,#dbd9de 51%,#dbd9de 56%,#dbd9de 64%,#dbd9de 64%,#b0aeb3 88%,#98969b 100%);

            top: 0;
            left: -75%;
            right: 0;
            bottom: 0;

            z-index: 0;
          }

          .details-list__specs {
            z-index: 2;

            order: 3;
          }

          .details-list__frame {
            z-index: 2;
            width: 100%;
            margin-top: 0;

            order: 1;
          }

          .details-list__description {
            z-index: 2;
            align-self: flex-start;
            color: $text-black;

            margin-top: 0;
            max-width: 335px;

            order: 2;
          }
        }
      }

      &.double {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;

        margin-bottom: 0;
        padding: 0;

        .details-list__frame {
          width: 100%;
          height: 286px;
        }

        .details-list__pic {
          height: 100%;
          max-height: 286px;
          min-height: 286px;
          object-fit: cover;
        }
      }
    }
  }
  /*ТРЕТИЙ ТИП КАРТОЧКИ!!!*/
  &--3 {
    padding-bottom: 0;
    margin-top: -2rem;

    display: none;

    .details-list__item {
      &.vertical {
        .details-list__frame {
          margin-bottom: 3rem;
        }
        /*Изображение по центру*/
        &--center {
          padding-left: 0.625rem;
          padding-right: 0.625rem;

          .details-list__frame {
            margin-bottom: 0;
            align-self: center;
          }

          .details-list__credits {
            margin-top: 0;
          }
        }

        &--middle {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          padding-bottom: 2.5rem;
          padding-top: 2.5rem;

          padding-left: 0.625rem;
          padding-right: 0.625rem;

          margin-bottom: 0;

          .details-list__imagewrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            width: 100%;
          }

          .details-list__pic {
            object-fit: contain;
          }

          .details-list__description {
            max-width: 440px;
            color: #fff;
          }
        }
      }

      &.double {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;

        margin-bottom: 0;
        padding: 0;

        .details-list__frame {
          width: 100%;
          height: 300px;
        }

        .details-list__pic {
          height: 100%;
          max-height: 300px;
          min-height: 300px;
          object-fit: cover;
        }
      }
    }
  }
  /*ЧЕТВЕРТЫЙ ТИП КАРТОЧКИ*/
  &--4 {
    padding-bottom: 0;
    margin-top: -2rem;
    display: none;

    .details-list__item {
      &.vertical {
        margin-bottom: 3rem;

        .details-list__frame {
          margin-bottom: 3rem;
        }
        /*Изображение по центру*/
        &--center {
          padding-left: 0.625rem;
          padding-right: 0.625rem;

          .details-list__frame {
            margin-bottom: 2.5rem;
            align-self: flex-start;
            margin-left: 0;
          }

          .details-list__credits {
            margin-top: 0;
          }
        }
      }

      &.double {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;

        margin-bottom: 2rem;
        padding: 0;

        .details-list__frame {
          width: 100%;

          &--first {
            margin-left: -10rem;
            margin-bottom: 2rem;
          }

          &--second {
            margin-right: -10rem;
            margin-bottom: 2rem;
          }
        }

        .details-list__pic {
          height: 100%;
          object-fit: cover;
        }

        .details-list__description {
          padding-left: 0.625rem;
          padding-right: 0.625rem;
        }
      }

      &.horizontal {
        padding-left: 0.625rem;
        padding-right: 0.625rem;

        padding-bottom: 3rem;
        padding-top: 2.25rem;

        background-color: #d5d5d5;

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .details-list__frame {
          width: 100%;
        }

        .details-list__info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;

          width: 100%;
          height: auto;
        }
      }
    }
  }
  /*ПЯТЫЙ ТИП КАРТОЧКИ*/
  &--5 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    .details-list__item {
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }

      &.mobile-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .details-list__frame {
          min-width: 440px;
          margin-right: -10rem;
        }
      }

      &.vertical {
        .details-list__frame {
          margin-bottom: 3rem;
        }

        /*ОБратный вертикальный порядок*/
        &--reverse {
          flex-direction: column-reverse;
          .details-list__description {
            margin-bottom: 0;
            margin-top: 0;
          }

          .details-list__frame {
            min-width: 440px;
            margin-bottom: 3rem;

            margin-left: -10rem;
          }
        }
      }

      &.horizontal {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        /*Для трех элементов в ряд*/
        &--3 {
          .details-list__frame {
            margin-bottom: 3rem;
          }

          .details-list__description {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 375px) {
  .details-list {
    /*ПЕРВЫЙ ТИП КАРТОЧКИ!!!*/
    &--1 {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    /*ВТОРОЙ ТИП КАРТОЧКИ!!!*/
    &--2 {
      .details-list__item {
        &.vertical {
          /*Изображение по центру*/
          &--center {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
          }
          /*ОБратный вертикальный порядок*/
          &--reverse {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
          }

          &--triple {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
          }
        }
      }
    }
    /*ТРЕТИЙ ТИП КАРТОЧКИ!!!*/
    &--3 {
      .details-list__item {
        &.vertical {
          /*Изображение по центру*/
          &--center {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
          }

          &--middle {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
          }
        }
      }
    }
    /*ЧЕТВЕРТЫЙ ТИП КАРТОЧКИ*/
    &--4 {
      .details-list__item {
        &.vertical {
          /*Изображение по центру*/
          &--center {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
          }
        }

        &.horizontal {
          padding-left: 1.25rem;
          padding-right: 1.25rem;
        }
      }
    }
    /*ПЯТЫЙ ТИП КАРТОЧКИ*/
    &--5 {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .details-list {
    margin-top: -5rem;
    padding-bottom: 7rem;

    &__description {
      font: {
        size: 1.125rem;
      }

      line-height: 1.438rem;

      max-width: 440px;
    }

    /*ПЕРВЫЙ ТИП КАРТОЧКИ!!!*/
    &--1 {
      margin-top: -10rem;
      padding-bottom: 0;

      padding-left: 0;
      padding-right: 0;

      .details-list__item {
        &.vertical {
          max-width: 1170px;
          .details-list__frame {
            margin-bottom: 5rem;
          }
          /*Изображение по центру*/
          &--center {
            .details-list__frame {
              margin-bottom: 0;
              margin-left: 7rem;
            }

            .details-list__credits {
              margin-top: -8rem;
            }
          }

          &--middle {
            padding-bottom: 2.5rem;
            padding-top: 5.5rem;

            .details-list__frame {
              max-width: 1289px;
              margin-bottom: 0;

              &--first {
                order: 1;
                margin-right: 0;
              }

              &--second {
                order: 3;
                margin-left: 0;
              }
            }

            .details-list__pic {
              max-width: 1289px;
            }

            .details-list__info {
              order: 2;

              flex-direction: row;
              justify-content: space-between;
              align-items: center;
            }
          }
        }

        &.horizontal {
          flex-direction: row;
          justify-content: space-between;

          max-width: 1170px;

          &--2 {
            .details-list__frame {
              width: 100%;
              max-width: 1289px;

              margin-left: -70px;
            }

            .details-list__description {
              width: 206px;
              margin-top: 2rem;
            }
          }

          &--2-inv {
            flex-direction: row;
            justify-content: space-between;

            .details-list__frame {
              width: 100%;
              max-width: 1289px;

              margin-right: -70px;
            }

            .details-list__description {
              display: inline-flex;
              width: 206px;
              margin-top: 2rem;
            }
          }
        }
      }
    }
    /*ВТОРОЙ ТИП КАРТОЧКИ!!!*/
    &--2 {
      margin-top: -5rem;
      padding-bottom: 0;

      .details-list__item {
        &.vertical {
          .details-list__frame {
            margin-bottom: 5rem;
          }
          /*Изображение по центру*/
          &--center {
            max-width: 1170px;
            padding-left: 0;
            padding-right: 0;

            .details-list__frame {
              margin-bottom: 0;
              margin-left: 7rem;
            }

            .details-list__credits {
              margin-top: -4rem;
            }
          }
          /*ОБратный вертикальный порядок*/
          &--reverse {
            max-width: 1170px;
            padding-left: 0;
            padding-right: 0;

            .details-list__description {
              margin: 0;
            }

            .details-list__frame {
              margin-top: -4rem;
            }
          }

          &--triple {
            max-width: 1170px;
            align-items: center;

            padding-top: 6.875rem;
            padding-bottom: 8.25rem;

            .details-list__specs {
              align-self: flex-end;
              order: 1;
            }

            .details-list__frame {
              order: 2;
              margin-top: -6rem;
            }

            .details-list__description {
              order: 3;
              margin-top: -15rem;
            }
          }
        }

        &.double {
          flex-direction: row;
          justify-content: center;
          align-items: flex-end;

          .details-list__frame {
            height: 763px;
          }

          .details-list__pic {
            min-height: 763px;
            max-height: 763px;
          }
        }
      }
    }
    /*ТРЕТИЙ ТИП КАРТОЧКИ!!!*/
    &--3 {
      padding-bottom: 0;
      margin-top: -5rem;

      .details-list__item {
        &.vertical {
          .details-list__frame {
            margin-bottom: 5rem;
          }
          /*Изображение по центру*/
          &--center {
            max-width: 1170px;
            padding-left: 0;
            padding-right: 0;

            .details-list__frame {
              margin-left: 7rem;
            }

            .details-list__credits {
              margin-top: -7rem;
            }
          }

          &--middle {
            max-width: 1170px;

            padding-top: 5.5rem;
            padding-left: 0;
            padding-right: 0;

            .details-list__imagewrap {
              width: 100%;
              flex-direction: row;
              justify-content: space-between;
            }
          }
        }

        &.double {
          flex-direction: row;
          justify-content: center;
          align-items: flex-end;

          .details-list__frame {
            height: 800px;
          }

          .details-list__pic {
            min-height: 800px;
            max-height: 800px;
          }
        }
      }
    }
    /*ЧЕТВЕРТЫЙ ТИП КАРТОЧКИ*/
    &--4 {
      padding-bottom: 0;
      margin-top: -5rem;

      .details-list__item {
        &.vertical {
          .details-list__frame {
            margin-bottom: 5rem;
          }
          /*Изображение по центру*/
          &--center {
            max-width: 1170px;
            padding-left: 0;
            padding-right: 0;
          }
        }

        &.double {
          width: 100%;
          max-width: 1170px;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          flex-wrap: nowrap;

          margin-bottom: 0;
          padding: 0;

          .details-list__frame {
            width: 45%;
            height: 480px;

            margin: 0;
            margin-bottom: 3rem;
          }

          .details-list__pic {
            height: 100%;
            max-height: 480px;
            object-fit: cover;
          }

          .details-list__description {
            display: none;
          }
        }

        &.horizontal {
          width: 100%;

          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          padding-bottom: 0;
          padding-top: 90px;

          .details-list__frame {
            width: 50%;
            max-width: 550px;
            margin-right: 120px;
          }

          .details-list__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            width: 50%;
            max-width: 500px;
            height: auto;

            padding-bottom: 110px;
          }

          .details-list__description {
            max-width: 380px;
            margin-bottom: 150px;
            margin-top: 0;
          }
        }
      }
    }
    /*ПЯТЫЙ ТИП КАРТОЧКИ*/
    &--5 {
      padding-left: 0;
      padding-right: 0;

      .details-list__item {
        margin-bottom: 7.5rem;

        &.vertical {
          max-width: 1170px;
          .details-list__frame {
            margin-bottom: 5rem;
          }

          /*ОБратный вертикальный порядок*/
          &--reverse {
            .details-list__description {
              margin-bottom: 5rem;
            }

            .details-list__frame {
              margin-bottom: 3rem;
              margin-left: 0;
            }
          }
        }

        &.mobile-image {
          display: none;
        }

        &.horizontal {
          max-width: 1170px;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          /*Для трех элементов в ряд*/
          &--3 {
            .details-list__frame {
              min-width: 570px;
              max-width: 570px;
              margin-right: 5rem;
            }

            .details-list__description {
              display: inline-flex;
              margin-top: 0;
              margin-bottom: 0;
              margin-left: auto;
              margin-right: 0;
              max-width: 225px;
            }
          }
        }
      }
    }
  }
}
