.similar-layout {
  width: 100%;
  max-width: 375px;

  position: relative;
}

@media only screen and (min-width: $laptop-wide) {
  .similar-layout {
    width: 100%;
    max-width: 100%;

    margin-bottom: 3rem;
  }
}
